* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: clamp(14px, 1.8vw, 18px);
}

body {
    font-size: 1rem;
    background-color: rgb(138, 103, 255);
}

a {
    color: antiquewhite;
    text-decoration: none;
}

dialog {
    padding: 1.5rem;
    border: none;
    border-radius: 1rem;
    margin: auto;
    width: clamp(270px, 70%, 650px);
    height: clamp(50vh, 60vh ,70vh);
}

.modalForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.modalBtnMenu {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    height: 3.5rem;
    background-color: violet;
}

.home-link {
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;
    min-height: 100vh;
}

.container-posts {
    justify-content: space-between;
}

/* .container-post {
    
} */

.posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.posts-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(250px, 350px);
    gap: 1rem;
    width: clamp(320px, 100%, 100%);
    height: auto;
    background-color: rgb(68, 0, 89);
    justify-items: center;
    padding: 1rem;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(1, 0, 83);
    color: white;
    width: 100%;
    height: auto;
    gap: 2rem;
}

.post p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post a {
    align-self: flex-end;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.pagination ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.pagination ul li {
    color: white;
}

.active-page {
    color: black !important;
}